<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
      <add name="DemoConnectionString" connectionString="Data Source=lwda529.servidoresdns.net;Initial Catalog=qt487;User ID=qt487;Password=C0RaLSj0y19w" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="InsertSaleSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7571/InsertSale.asmx" binding="basicHttpBinding"
                bindingConfiguration="InsertSaleSoap" contract="ServiceReferenceFightManager.InsertSaleSoap"
                name="InsertSaleSoap" />
        </client>
    </system.serviceModel>
</configuration>
